<ion-content color="primary">
  <ion-header [translucent]="true">
    <br><br><br><br>
    <ion-card color="warning">
      <img src="assets/image/pants1.png">
      <ion-card-header >
        <ion-card-title>Jeans</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Description: "Everyday Comfort Denim Jeans" - Elevate your casual style with these versatile denim jeans. Crafted from soft, stretchy denim for maximum comfort, they feature a tapered leg and a classic five-pocket design. The adjustable waistband ensures a customizable fit, making them perfect for everything from lounging at home to running errands in style.<br>
        Size : S, M, L, XL <br>
        Color : Blue <br>
        Price : $25 <br>
      </ion-card-content>
    </ion-card>
  
  <br>
    <ion-button id="open-action-sheet" alignment="center" color="light">
      add to cart
      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-button>
  <ion-action-sheet trigger="open-action-sheet" header="CONFIRM ADD TO CART" [buttons]="actionSheetButtons"></ion-action-sheet>
  </ion-header>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button tab="library" routerLink="/mobile7">
        <ion-icon name="apps"></ion-icon>
        list
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-content>