<ion-content color="primary">
  <ion-header [translucent]="true">
    <br><br><br><br>
    <ion-card color="warning">
      <img src="assets/image/pants3.png">
      <ion-card-header >
        <ion-card-title>Cargo Pants</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Description: ""Urban Explorer Cargo Pants" - These rugged cargo pants are designed for the modern adventurer. With multiple pockets for storage and reinforced stitching for durability, they're ideal for urban exploration or outdoor activities.<br>
        Size : S, M, L, XL <br>
        Color : Blue, WHITE, BEIGE <br>
        Price : $30 <br>
      </ion-card-content>
    </ion-card>
  
  <br>
    <ion-button id="open-action-sheet" alignment="center" color="light">
      add to cart
      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-button>
  <ion-action-sheet trigger="open-action-sheet" header="CONFIRM ADD TO CART" [buttons]="actionSheetButtons"></ion-action-sheet>
  </ion-header>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button tab="library" routerLink="/mobile7">
        <ion-icon name="apps"></ion-icon>
        list
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-content>