<ion-content color="primary">
  <ion-header [translucent]="true">
    <br><br><br><br>
    <ion-card color="warning">
      <img src="assets/image/socks2.png">
      <ion-card-header >
        <ion-card-title>Face Design</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Description: "Emoji Face Ankle Socks" - Express yourself from head to toe with these adorable ankle socks adorned with a variety of expressive emoji faces. Crafted from breathable cotton blend fabric, these socks are as comfortable as they are stylish. Whether you're lounging at home or out and about, these emoji socks will keep your feet smiling. <br>
        Color : Blue, RED, WHITE, BLACK <br>
        Price : $20 <br>
      </ion-card-content>
    </ion-card>
  
  <br>
    <ion-button id="open-action-sheet" alignment="center" color="light">
      add to cart
      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-button>
  <ion-action-sheet trigger="open-action-sheet" header="CONFIRM ADD TO CART" [buttons]="actionSheetButtons"></ion-action-sheet>
  </ion-header>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button tab="library" routerLink="/mobile11">
        <ion-icon name="apps"></ion-icon>
        list
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-content>