<ion-content color="primary">
  <ion-header [translucent]="true">
    <br><br><br><br>
    <ion-card color="warning">
      <img src="assets/image/socks1.png">
      <ion-card-header >
        <ion-card-title>Monster Design</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Description: "Monster Mash Crew Socks" - Let your feet join in on the fun with these whimsical crew socks featuring an array of colorful monster faces. Made from soft, stretchy fabric, these socks offer all-day comfort and are perfect for adding a playful touch to any outfit.<br>
        Size : S, M, L, XL <br>
        Color : Blue, RED, WHITE, BLACK <br>
        Price : $20 <br>
      </ion-card-content>
    </ion-card>
  
  <br>
    <ion-button id="open-action-sheet" alignment="center" color="light">
      add to cart
      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-button>
  <ion-action-sheet trigger="open-action-sheet" header="CONFIRM ADD TO CART" [buttons]="actionSheetButtons"></ion-action-sheet>
  </ion-header>
  </ion-content>