<ion-content color="primary">
  <ion-header [translucent]="true">
    <br><br><br><br>
    <ion-card color="warning">
      <img src="assets/image/shirt3.png">
      <ion-card-header>
        <ion-card-title>Enjoy the summer</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Description: "Enjoy the summer" - Channel retro cool with this classic t-shirt featuring a distressed print of a vintage motorcycle. With its worn-in look and timeless appeal, it's the perfect addition to any casual wardrobe for those who appreciate a touch of nostalgia.<br>
        Size : S, M, L, XL <br>
        Color : BLACK, WHITE, RED <br>
        Price : $30 <br>
      </ion-card-content>
    </ion-card>
  
  <br>
    <ion-button id="open-action-sheet" alignment="center" color="light">
      add to cart
      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-button>
  <ion-action-sheet trigger="open-action-sheet" header="CONFIRM ADD TO CART" [buttons]="actionSheetButtons"></ion-action-sheet>
  </ion-header>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button tab="library" routerLink="/mobile2">
        <ion-icon name="apps"></ion-icon>
        list
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-content>