<ion-content color="primary">
<ion-header [translucent]="true">
 <br><br>
    <ion-searchbar color= "light"></ion-searchbar>    
  <br>
    <ion-button expand="full" routerLink="/mobile2" color="warning">
      <ion-img id="shirt"
            src="assets/image/shirtlogo.png"></ion-img>
            <ion-label> Shirt </ion-label>
    </ion-button>   

    <ion-button expand="full" routerLink="/mobile7" color="warning">
      <ion-img id="pants"
            src="assets/image/pantslogo.png"></ion-img>
            <ion-label> Pants </ion-label>
    </ion-button> 

    <ion-button expand="full" routerLink="/mobile11" color="warning">
      <ion-img id="socks"
            src="assets/image/sockslogo.png"></ion-img>
            <ion-label> Socks </ion-label>
    </ion-button> 

    <ion-button expand="full" routerLink="/mobile15" color="warning">
            <ion-img id="shoes"
            src="assets/image/shoeslogo.png"></ion-img>       
            <ion-label> Shoes </ion-label>
    </ion-button> 
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="library" routerLink="/mobile">
      <ion-icon name="apps"></ion-icon>
      Product
    </ion-tab-button>
    <ion-tab-button tab="cart" routerLink="/mobile6">
      <ion-icon name="cart"></ion-icon>
      Cart
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>

