<ion-content color="medium">
  <ion-header [translucent]="true">
    <br><br><br><br>
    <ion-card>
      <img src="assets/image/shirt2.png">
      <ion-card-header>
        <ion-card-title>Stay Strong</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Description: "Stay strong" - Step into the cosmos with this mesmerizing t-shirt design. Featuring a vivid depiction of swirling galaxies and distant stars, it's sure to ignite the imagination of space lovers and dreamers alike.<br>
        Size : S, M, L, XL <br>
        Color : BLACK, WHITE, RED <br>
        Price : $30 <br>
      </ion-card-content>
    </ion-card>
  
  <br>
    <ion-button id="open-action-sheet" alignment="center">
      add to cart
      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-button>
  <ion-action-sheet trigger="open-action-sheet" header="CONFIRM ADD TO CART" [buttons]="actionSheetButtons"></ion-action-sheet>
  </ion-header>
  </ion-content>