<ion-content color="primary">
  <ion-header [translucent]="true">
    <br><br><br><br>
    <ion-card color="warning">
      <img src="assets/image/pants2.png">
      <ion-card-header >
        <ion-card-title>Casual Smart</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Description: "Tailored Chino Pants" - Look sharp and sophisticated in these tailored chino pants. Crafted from premium cotton twill, they boast a classic slim fit and versatile design that transitions effortlessly from the office to after-work drinks. Pair with a crisp shirt for a polished look that never goes out of style.<br>
        Size : S, M, L, XL <br>
        Color : Blue <br>
        Price : $28 <br>
      </ion-card-content>
    </ion-card>
  
  <br>
    <ion-button id="open-action-sheet" alignment="center" color="light">
      add to cart
      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-button>
  <ion-action-sheet trigger="open-action-sheet" header="CONFIRM ADD TO CART" [buttons]="actionSheetButtons"></ion-action-sheet>
  </ion-header>
  </ion-content>