<ion-content color="primary">
  <ion-header [translucent]="true">
    <br>
    <ion-searchbar color="light"></ion-searchbar>

    <ion-card>
      <ion-img src="assets/image/socks1.png"></ion-img>
      <ion-card-content>
        <ion-button expand="block" routerLink="/mobile12" color="warning">
          <ion-label>Jeans</ion-label>
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="assets/image/socks2.png"></ion-img>
      <ion-card-content>
        <ion-button expand="block" routerLink="/mobile13" color="warning">
          <ion-label>Smart Casual</ion-label>
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="assets/image/socks3.png"></ion-img>
      <ion-card-content>
        <ion-button expand="block" routerLink="/mobile14" color="warning">
          <ion-label>Cargo Pants</ion-label>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button tab="library" routerLink="/mobile">
        <ion-icon name="apps"></ion-icon>
        Product
      </ion-tab-button>
      <ion-tab-button tab="cart" routerLink="/mobile6">
        <ion-icon name="cart"></ion-icon>
        Cart
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>