<ion-content>
<ion-list>
    <ion-label>Checkout: </ion-label>
    <br>
    <ion-item>
      <ion-label>T-shirt: </ion-label>
  <ion-label float="right">$30.00</ion-label>
    </ion-item>

  <ion-item>
   <ion-card> <ion-img
  src="assets/image/shirt1.png"
></ion-img></ion-card>
  </ion-item>

  <ion-item>
    <ion-label>Socks: </ion-label>
<ion-label float="right">$20.00</ion-label>
  </ion-item>

  <ion-item> 
    <ion-card><ion-img
  src="assets/image/socks1.png"
></ion-img></ion-card>
  </ion-item>

  <ion-item>
    <ion-label id="total">total: </ion-label>
    <ion-label float="right">$50.00</ion-label>
  </ion-item>
</ion-list>

<ion-button (click)="presentAlert()" expand="block" color="light">Proceed</ion-button>
</ion-content>