<ion-content color="primary">
  <ion-header [translucent]="true">
    <br><br><br><br>
    <ion-card color="warning">
      <img src="assets/image/shoes3.png">
      <ion-card-header >
        <ion-card-title>Casual shoes</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Description: "Classic Canvas Casual Shoes" - Elevate your everyday look with these timeless canvas shoes. With a versatile design and comfortable fit, they're perfect for pairing with jeans or shorts for a laid-back vibe. The breathable canvas upper and padded insole ensure all-day wearability, making them a must-have addition to your casual shoe collection.<br>
        Size : 39,40,41,42,43,44,45 <br>
        Color : Blue, RED, WHITE, BLACK <br>
        Price : $45 <br>
      </ion-card-content>
    </ion-card>
  
  <br>
    <ion-button id="open-action-sheet" alignment="center" color="light">
      add to cart
      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-button>
  <ion-action-sheet trigger="open-action-sheet" header="CONFIRM ADD TO CART" [buttons]="actionSheetButtons"></ion-action-sheet>
  </ion-header>
  </ion-content>