<ion-content color="primary">
  <ion-header [translucent]="true">
    <br><br><br><br>
    <ion-card color="warning">
      <img src="assets/image/shoes2.png">
      <ion-card-header >
        <ion-card-title>Sport shoes</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Description: "High-Performance Athletic Shoes" - Dominate the competition with these high-performance athletic shoes engineered for speed and agility. Featuring a lightweight yet durable construction, they're designed to provide maximum support and stability during intense workouts or competitive sports. The breathable mesh upper and cushioned midsole offer comfort and responsiveness with every step, helping you push your limits and achieve your goals.<br>
        Size : 39,40,41,42,43,44,45 <br>
        Color : Blue, RED, WHITE, BLACK <br>
        Price : $45 <br>
      </ion-card-content>
    </ion-card>
  
  <br>
    <ion-button id="open-action-sheet" alignment="center" color="light">
      add to cart
      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-button>
  <ion-action-sheet trigger="open-action-sheet" header="CONFIRM ADD TO CART" [buttons]="actionSheetButtons"></ion-action-sheet>
  </ion-header>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button tab="library" routerLink="/mobile15">
        <ion-icon name="apps"></ion-icon>
        list
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-content>