<ion-content color="light">
  <ion-searchbar color="medium"></ion-searchbar>
  <ion-card>
    <ion-img src="assets/image/shirt1.png"></ion-img>
    <ion-card-content>
      <ion-button expand="full" routerLink="/mobile3">
        <ion-label>Nothing will work unless you do</ion-label>
      </ion-button>
    </ion-card-content>  
  </ion-card>

  <ion-card>
    <ion-img src="assets/image/shirt2.png"></ion-img>
    <ion-card-content>
      <ion-button expand="full" routerLink="/mobile4">
        <ion-label>Stay strong</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="assets/image/shirt3.png"></ion-img>
    <ion-card-content>
      <ion-button expand="full" routerLink="/mobile5">
        <ion-label>Enjoy the summer</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-tabs>
<ion-tab-bar slot="bottom" color="primary">
  <ion-tab-button tab="library" routerLink="/mobile">
    <ion-icon name="apps"></ion-icon>
    Product
  </ion-tab-button>
  <ion-tab-button tab="cart" routerLink="/mobile6">
    <ion-icon name="cart"></ion-icon>
    Cart
  </ion-tab-button>
</ion-tab-bar>
</ion-tabs>
