<ion-content color="light">
<ion-header [translucent]="true">
  <br>
<ion-searchbar color="medium"></ion-searchbar> 

<ion-card>
  <ion-img
  src="https://img.freepik.com/free-vector/trendy-tshirt-design-vintage-typography-lettering-art-retro-slogan_314614-774.jpg?size=626&ext=jpg&ga=GA1.1.1700460183.1708560000&semt=ais"></ion-img>
  <ion-card-header>
    <ion-card-title>VINTAGE 01</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-img
  src="https://img.freepik.com/premium-vector/professional-tshirt-design-vector-your-brand_745595-814.jpg"></ion-img>
  <ion-card-header>
    <ion-card-title>VINTAGE 02</ion-card-title>
  </ion-card-header>
</ion-card>
  
</ion-header>
<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="library">
      <ion-icon name="apps"></ion-icon>
       Product
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
      cart
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>