<ion-content color="medium">
<ion-header [translucent]="true">
  <br><br><br><br>
  <ion-card>
    <img src="assets/image/shirt1.png">
    <ion-card-header>
      <ion-card-title>Nothing will work unless you do</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Description: "Nothing will work unless you do" - This t-shirt features a bold, adventurous design with a mountain range silhouette against a sunset backdrop. Perfect for outdoor enthusiasts and anyone with a thirst for exploration.<br>
      Size : S, M, L, XL <br>
      Color : BLACK, WHITE, RED <br>
      Price : $30 <br>
    </ion-card-content>
  </ion-card>

<br>
  <ion-button id="open-action-sheet" alignment="center">
    add to cart
    <ion-icon slot="end" name="cart"></ion-icon>
  </ion-button>
<ion-action-sheet trigger="open-action-sheet" header="CONFIRM ADD TO CART" [buttons]="actionSheetButtons"></ion-action-sheet>
</ion-header>
</ion-content>