<ion-content color="primary">
  <ion-header [translucent]="true">
    <br>
    <ion-searchbar color="light"></ion-searchbar>

    <ion-card>
      <ion-img src="assets/image/shoes1.png"></ion-img>
      <ion-card-content>
        <ion-button expand="block" routerLink="/mobile16" color="warning">
          <ion-label>Sneakers</ion-label>
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="assets/image/shoes2.png"></ion-img>
      <ion-card-content>
        <ion-button expand="block" routerLink="/mobile17" color="warning">
          <ion-label>Sport shoes</ion-label>
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="assets/image/shoes3.png"></ion-img>
      <ion-card-content>
        <ion-button expand="block" routerLink="/mobile18" color="warning">
          <ion-label>Casual Shoes</ion-label>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button tab="library" routerLink="/mobile">
        <ion-icon name="apps"></ion-icon>
        Product
      </ion-tab-button>
      <ion-tab-button tab="cart" routerLink="/mobile6">
        <ion-icon name="cart"></ion-icon>
        Cart
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>